.btn_custom .mat-raised-button{
padding:0 px !important;
margin:5px;
}

.mat-button:hover {
    background: rgb(20, 177, 54);
    color: #f5f5f5;
  }
  .mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button{
      font-size:12px;
  }
.overflow{
  overflow: hidden;
}
table {
  width: 100%;
  
}
.table td, .table th {
  /* padding: 10px !important; */
  padding: 0px 5px 0px 5px !important;
}
.mat-header-cell {
  color: rgb(9, 9, 9) !important;
}


th, td  {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  width: 150px;
}

.upload
{
  position: fixed;
    bottom: 0%;
    right: 0px;
}
  /* table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    width: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
  } */