



.mat-drawer{
  background-color: transparent !important;
}
.custom-sidenav-container {

  height: 100vh;

  }
  .example-container {
  /* height: calc(100vh - 64px) ; */
  /* height: 100% !important; */
    
  height: 100vh;
  }

 /* // Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
  .main_content {
  
    height: calc(100vh - 64px) !important;
    /* overflow-y: hidden;*/
    overflow-x: hidden; 
    /* margin-top: 50px; */
    margin-left:0px;
    padding:0px;
    /* background: url('../assets/images/bgnewMobile.jpg') no-repeat;
    background-position: top;
    background-size: cover; */
  }
 }

/* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 
  .main_content {
  
    height: calc(100vh - 64px) !important;
    /* overflow-y: hidden;*/
    overflow-x: hidden; 
    /* margin-top: 50px; */
    margin-left:0px;
    padding:0px;
    /* background: url('../assets/images/bgnewMobile.jpg') no-repeat;
    background-position: top;
    background-size: cover; */
  }
 }
 @media (min-width: 767.98px) and (max-width: 576px) { 
  .main_content {
  
    height: calc(100vh - 64px) !important;
    /* overflow-y: hidden;*/
    overflow-x: hidden; 
    /* margin-top: 50px; */
    margin-left:0px;
    padding:0px;
    /* background: url('../assets/images/bgnewMobile.jpg') no-repeat;
    background-position: top;
    background-size: cover; */
  }
 }
  /* // Medium devices (tablets, 768px and up) */ 
@media (min-width: 320px) and (max-width:568px) { 
  .main_content {
  
    height: calc(100vh - 64px) !important;
    /* overflow-y: hidden;*/
    overflow-x: hidden; 
    /* margin-top: 50px; */
    margin-left:0px;
    padding:0px;
    /* background: url('../assets/images/bgnewMobile.jpg') no-repeat;
    background-position: top;
    background-size: cover; */
  }
 } 
  /* // Medium devices (tablets, 768px and up) */ 
  @media (min-width: 768px) and (max-width:1024px) { 
    .main_content {
  
      height: calc(100vh - 64px) !important;
      /* overflow-y: hidden;*/
      overflow-x: hidden; 
      /* margin-top: 50px; */
      margin-left:0px;
      padding:0px;
      /* background: url('../assets/images/bgnewMobile.jpg') no-repeat;
      background-position: top;
      background-size: cover; */
    }
   } 
 /* // Medium devices (tablets, 768px and up) */ 
@media (min-width: 768px) and (max-width:1024px) { 
 
  .main_content {
  
    height: calc(100vh - 64px) !important;
    /* overflow-y: hidden;*/
    overflow-x: hidden; 
    /* margin-top: 50px; */
    margin-left:0px;
    padding:0px;
    /* background: url('../assets/images/bgnewMobile.jpg') no-repeat;
    background-position: top;
    background-size: cover; */
  }
 } 

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  .main_content {
  
    height: calc(100vh - 64px) !important;
    /* overflow-y: hidden;*/
    overflow-x: hidden; 
    /* margin-top: 50px; */
    margin-left:0px;
    padding:0px;
    /* background: url('../assets/images/new.jpg') no-repeat;
    background-position: top;
    background-size: cover; */
  }
   
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

  .main_content {
  
    /* //height: 100% important; */
    /* height: calc(100vh - 64px) !important; */
    /* overflow-y: hidden;*/
    overflow-x: hidden; 
    /* margin-top: 50px; */
    margin-left:0px;
    padding:0px;
    /* background: url('../assets/images/new.jpg') no-repeat;
    background-position: top;
    background-size: cover; */
  }
 }

 .custom{
  position: fixed;
    z-index: 99999;
    top: 80%;
    margin-left: -42px;
    color: #3bd6ac;
    background:#062045;
    /* border-radius: calc(56px - 8px - 10px); */
    padding:0px;
    text-align: right;
    height: 36px !important;
 }
 
 