.custom_css_btn{
    color: red;
    cursor: pointer;
}

table {
    width: 100%;
  }
  
  .fs_D{
    cursor: pointer !important;
    color:rgb(231, 74, 74);
  }
  
  .fs_E{
    cursor: pointer !important;
    color:#425f87
  }