

    <section id="main">
        <div>
         <div id="container" #screenn [ngStyle]="{'background': 'url(' + backgroundUrl +') no-repeat 0 0 / cover'}"  [style.width.px]="width" [style.height.px]="height"></div>
       </div>
    
  
      <div class="buttons mt-3 p-3 text-center " >
        <div class="class" style=" display:inline-block;">
            <button mat-mini-fab matTooltip="save" (click)="save()"><mat-icon>save</mat-icon> </button>
     
            <button mat-mini-fab matTooltip="erase" class=" ml-2" id="eraser-button"><i class="fa fa-eraser fa-2x" style="font-size: 22px;" aria-hidden="true" ></i></button>
    
            <button mat-mini-fab matTooltip="edit" class=" ml-2" id="draw-button"><mat-icon>edit</mat-icon></button>
    
            <button mat-mini-fab matTooltip="add" class="ml-2" *ngIf="hideAddd" (click)="add()"><mat-icon>add</mat-icon></button>
            <button mat-mini-fab matTooltip="next" class=" ml-2" *ngIf="next" (click)="Next()"><mat-icon>arrow_forward</mat-icon></button>
          
        </div>
      </div>
  
      </section>
     
