<div class="row my-auto">
      
    <div class="col-12 text-right">
        <mat-icon (click)="close()" class="custom_css_btn">close</mat-icon>
    </div>
</div>
<form [formGroup]='TemplateForm' #myTemp="ngForm" (ngSubmit)="EditTemp(TemplateForm.value,myTemp)">
<div class="row">
    <div class="col-4">
        <div class="mat-subheading-1">
        TEMPLATE NAME
        </div>
    </div>
    <div class="col-8">
        
            <mat-form-field appearance="outline">
                <input type="text"
                    aria-label="Number"
                    matInput
                    formControlName='tempname' 
                    autocomplete="off" [(ngModel)]="data.name"
                    >
                    <input type="hidden" formControlName = "temp_id" class="form-control" [(ngModel)]="data.id">

            </mat-form-field>
    
    </div>
    
</div>
<div class="row">
    <div class="m-auto">
      <button mat-raised-button type="submit" >Save</button>
    </div>
  </div>
</form>